body{  
  background: -webkit-linear-gradient(90deg, #283048 10%, #859398 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #283048 10%, #859398 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #283048 10%, #859398 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #283048 10%, #859398 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #283048 10%, #859398 90%); /* W3C */
        
}

div, ul{ 
  color:#fff;
  text-shadow: 2px 2px 2px #407F7F;
  text-align:center;
  font-weight:bold;
  font-size: 25px;
  font-family: Gill Sans;
  margin: auto;
  line-height: 3.2;
  }

input{
  border-color:#003333;
  border-radius: 9px;
  line-height: 4;
}

ul:hover>input {
  outline: solid #88CC88;
}

footer{
  padding: 10em;
}

form{
  margin-left: 50px;
  text-align:center;
}

form>input{
  padding-left:50px;
}

